table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #649579;
    color: white;
  }

  h1 {
    color: #006605;
    text-align: center;
    font-size: 110px;
  }

  /* body {
    background-color:#9fd4ff; */

  }

  p {
    color:#ffffff;
    font-family:futura;
    text-weight: bold;
  }

  p a {
    color:#f2f2f2;
  }

  img {
    float: left;
  }

  h4 {
color:rgb(84, 81, 102);

  }

 
  a:visited {
    color:black;
  }

  a:hover {
    color:blue;
  }

  .form {
    display: flex;
  }

  #new-store-form {
    padding: 100px;
  }